<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<title>FullForms API by Daxeel Soni</title>
<meta http-equiv="Content-Language" content="English" />
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<link rel="stylesheet" type="text/css" href="static/css/style.css" media="screen" />
</head>
<body>

<div id="wrap">

<div id="header">
<h1><a href="#">Fullforms API</a></h1>
<h2>Get fullforms and meanings of any shortform via RESTful API</h2>
</div>

<div id="right">

<h2 id="about"><a href="#">About</a></h2>
<div class="articles">
	Fullforms is a simple API which will give you access to lots of fullforms and meanings of shortforms. Get fullforms programarically via API request in <b>json</b> format
</div>

<h2 id="howto"><a href="#">Documentation</a></h2>
<div class="articles">
	API Request syntax : http://fullform-daxeel.rhcloud.com/api/{FILTER_TYPE}/{SHORTFORM}
	<br>where,<br>
	FILTER_TYPE can be <b>popular</b> or <b>all</b> and SHORTFORM will be any shortform.
	<br>
	For example : <br><a href="http://fullform-daxeel.rhcloud.com/api/popular/cs">http://fullform-daxeel.rhcloud.com/api/popular/cs</a><br><a href="http://fullform-daxeel.rhcloud.com/api/all/cs">http://fullform-daxeel.rhcloud.com/api/all/cs</a>
</div>

<h2 id="howto"><a href="#">Using API with Python</a></h2>
<div class="articles">
	I have wrote simple blog post on how to use Fullforms API with python programming Language. <br>
	You can check it out here : <a href="http://blog.daxeelsoni.in/2015/09/10/working-with-fullforms-api-using-python/">Click Here</a>
</div>
</div>

<div id="left"> 

<h3>Menu :</h3>
<ul>
<li><a href="#" target="_blank">Github</a></li> 
<li><a href="http://daxeelsoni.in" target="_blank">Daxeel Soni</a></li>
</ul>

</div>
<div style="clear: both;"> </div>

<div id="footer">
Developed by <a href="http://www.daxeelsoni.in/">Daxeel Soni</a>
</div>
</div>


</body>
</html>